{% extends 'base.html' %}
{% block subcontent %}

<div class="col-lg-6">
    <h2> Delete Stocks Here: </h2>
    <form name="form" enctype="multipart/form-data" action="{% url 'stocks:delete_user_ticker' %}"
          method="POST">

        {% csrf_token %}
        <div class="form-group row">
            <label for="ticker_name">Ticker</label>
            <input type="text" class="form-control" id="ticker_name" name="ticker_name" placeholder="Ticker">
        </div>
        <div class="form-group row justify-content-center">
            <button type="submit" class="btn btn-primary">Confirm Delete</button>
        </div>
    </form>
</div>

{% endblock %}
