{% extends 'base.html' %}
{% block subcontent %}

<div class="row h-100 align-items-center justify-content-center" style="text-align: center;">
    <div class="col-lg-12">
        {% if deleted %}
        <p><strong>Your stock data was deleted </strong></p>
        <p><a class="btn btn-success" href="{% url 'dashboard:delete_stock' %}"><i class="fa fa-link"></i> Delete one more
        </a></p>
        {% else %}
        <p><strong>Your stock data was not deleted. Try again </strong></p>
        {% endif %}
        <p><a class="btn btn-primary" href="{% url 'dashboard:delete_stock' %}"><i class="fa fa-chevron-left"></i>
            Delete another stock</a></p>
    </div>
</div>

{% endblock %}