<div class="row h-100 align-items-center justify-content-center" style="text-align: center;">
    <div class="col-lg-12">
        {% if saved %}
        <p><strong>Your stock data was saved.</strong></p>
        <p><a class="btn btn-success" href="{% url 'stocks:obtain_latest_data' %}"><i class="fa fa-link"></i> View all your stock price </a></p>
        {% endif %}

        {% if not saved %}
        <p><strong>Your stock data was not saved.</strong></p>
        {% endif %}
        <p><a class="btn btn-primary" href="/"><i class="fa fa-chevron-left"></i> Go back to the dashboard</a></p>
    </div>
</div>