{% extends 'index.html' %}
{% load bootstrap4 %}
{% block content %}


<div class="row justify-content-center">
    <div class="col-lg-3 mt-3" style="text-align: center">
        <div>
            <h1 style="text-align: center">Welcome to StockBoard</h1>
        </div>

        {% bootstrap_form_errors form %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary" value="login">Submit</button>
            <input type="hidden" name="next" value="{% url 'dashboard:obtain_latest_data' %}"/>
            {% endbuttons %}

            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            <p><a href="{% url 'register' %}">Don't have an account? Register</a></p>

    </div>
</div>


{% endblock %}